{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success"> Welcom, {{ name }}!
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--<div class="media-left">
                <img class="media-object" style="width:48px; height:48px;" src= {{headicon}}>
            </div>-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-group"></span> Online Users</h3>
                </div>
                <div class="panel-body">
                    <div style="height:205px; overflow-x:hidden; overflow-y:scroll;">
                        <div id="user-list">
                            <div class="media" v-for="user in users" v-on:click="choose(user.name, '{{name}}')">
                                <div class="media-left">
                                    <img class="media-object" style="width:20px; height:20px;" v-bind:src="'/static/images/' + user.image + '.png'">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" v-text="user.name"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-group"></span> Room Users</h3>
                </div>
                <div class="panel-body">
                    <div style="height:345px; overflow-x:hidden; overflow-y:scroll;">
                        <div id="room-user-list">
                            <div class="media" v-for="user in room_users" v-on:click="choose(user.name, '{{name}}')">
                                <div class="media-left">
                                    <img class="media-object" style="width:20px; height:20px;" v-bind:src="'/static/images/' + user.image + '.png'">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" v-text="user.name"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default" id="dest-user">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-camera"></span> Call {% raw %}{{target}}{% endraw %}
                        <span>
                            <button id="call" class="fa fa-phone" v-on:click="call()" style="left:2%; position:relative; color:limegreen;"></button>
                            <button id="hang-up" class="fa fa-phone" v-on:click="hang_up()" style="left:2%; position:relative; color:orangered;"></button>
                            <span v-if="show_status" style="color:DeepSkyBlue ; left:4%; position:relative;">Calling to {% raw %}{{target}}{% endraw %}</span>
                            <button id="send-file" class="fa fa-envelope" v-on:click="send()" style="right:1%; float:right; position:relative; color:DeepSkyBlue;"></button>
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div style="float:left; height:200px; width:64%; position:relative;">
                        <video id="yours" autoplay></video>
                        <video id="theirs" autoplay></video>
                    </div>
                    <div style="float:left; height:200px; width:30%; position:relative; left:5%;">
                        <form id="fileInfo">
                            <input type="file" id="fileInput" name="files"/>
                        </form>
                        <div class="progress">
                            <div class="label">Send progress: </div>
                            <progress id="sendProgress" max="0" value="0"></progress>
                        </div>
                
                        <div class="progress">
                            <div class="label">Receive progress: </div>
                            <progress id="receiveProgress" max="0" value="0"></progress>
                        </div>
                
                        <div id="bitrate"></div>
                        <a id="download"></a>
                        <span id="status"></span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="room-setting">
                    <h3 class="panel-title"><span class="fa fa-comments"></span> {% raw %}{{current_room}}{% endraw %} 
                        <span>
                            <input v-model="room_name" style="width:20%; left:50%; position:relative;">
                            <button id="change_room" class="fa fa-space-shuttle" v-on:click="switch_room()" style="right:4%; position:absolute; color:DeepSkyBlue;"></button>
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div style="height:292px; overflow-x:hidden; overflow-y:scroll;">
                        <div id="message-list">
                            <div style="margin-bottom:25px;" v-for="msg in messages">
                                <div v-if="msg.type === 'join' || msg.type === 'left'">
                                    <div class="media-left">
                                        <img class="media-object" style="width:20px; height:20px;" v-bind:src="'/static/images/' + msg.user.image + '.png'">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" v-text="msg.data"></h4>
                                    </div>
                                </div>
                                <div v-if="msg.type === 'chat'">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" style="width:48px; height:48px;" v-bind:src="'/static/images/' + msg.user.image + '.png'">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading" v-text="msg.user.name"></h4>
                                            <span v-text="msg.data"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form id="form-chat" action="#0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Input message ...">
                                <span class="input-group-btn"><button class="btn btn-default" type="submit">Send</button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/webrtc/adapter.js"></script>
<script src="/static/webrtc/transfer.js"></script>
<style>
    video {
        background: black;
        border: 1px solid gray;
    }

    #yours{
        width: 48%;
        height: 100%;
        position: relative;
    }

    #theirs{
        width: 48%;
        height: 100%;
        left: 4%;
        position: relative;
    }

    div.progress, div#bitrate {
        margin: 0 0 1em 0;
    }

    div.progress div.label {
        display: inline-block;
        font-weight: 400;
        width: 8.2em;
    }

    form {
        margin: 0 0 1em 0;
        white-space: nowrap;
    }

    progress {
        width: calc(100% - 8.5em);
    }
</style>
{% endblock %}